Repository HackathonWinterAteam/LearningKaruta, pull requests merged in 2023-02, with the labels that each got.

#33 mysql用docker環境変更
  README.MD
  app/Dockerfile
  app/__pycache__/database.cpython-310.pyc
  app/__pycache__/database.cpython-38.pyc
  app/__pycache__/env.cpython-310.pyc
  app/__pycache__/env.cpython-38.pyc
  app/__pycache__/main.cpython-310.pyc
  app/models/__pycache__/__init__.cpython-310.pyc
  app/models/__pycache__/__init__.cpython-38.pyc
  app/models/__pycache__/games.cpython-310.pyc
  app/models/__pycache__/games.cpython-38.pyc
  app/models/__pycache__/mixins.cpython-310.pyc
  app/models/__pycache__/mixins.cpython-38.pyc
  app/models/__pycache__/users.cpython-310.pyc
  app/models/__pycache__/users.cpython-38.pyc
  app/routers/__pycache__/__init__.cpython-310.pyc
  app/routers/__pycache__/games.cpython-310.pyc
  app/routers/__pycache__/users.cpython-310.pyc
  db/maigrations/__pycache__/env.cpython-310.pyc
  db/maigrations/__pycache__/env.cpython-38.pyc
  db/maigrations/versions/__pycache__/d9489014ad16_.cpython-310.pyc
  docker-compose.yml
  docker/api/Dockerfile
  docker/db/Dockerfile
  docker/db/conf.d/my.cnf
  front/Dockerfile
  mysql/DB/init.sql
  mysql/Dockerfile
  mysql/conf.d/my.cnf
  scripts/run.sh
Labels: docker

#41 バックエンド処理追加
  app/cruds/games.py
  app/csv/box.csv
  app/csv/load.sql
  app/models/games.py
  app/poetry.lock
  app/pyproject.toml
  app/routers/games.py
  app/schemas/games.py
  db/maigrations/versions/b04942986dc2_.py
  docker-compose.yml
Labels: back-end

#44 札取得処理（最低限）
  app/cruds/games.py
Labels: back-end

#42 ゲーム画面の一連の処理を作成
  front/README.md
  front/package-lock.json
  front/package.json
  front/src/App.css
  front/src/App.jsx
  front/src/compornents/Modal.jsx
  front/src/index.js
  front/src/useInterval.jsx
Labels: front-end

#50 絵札の画像表示が完了
  front/package-lock.json
  front/public/imgs/1.jpg
  front/public/imgs/10.jpg
  front/public/imgs/11.jpg
  front/public/imgs/12.jpg
  front/public/imgs/13.jpg
  front/public/imgs/14.jpg
  front/public/imgs/15.jpg
  front/public/imgs/16.jpg
  front/public/imgs/2.jpg
  front/public/imgs/3.jpg
  front/public/imgs/4.jpg
  front/public/imgs/5.jpg
  front/public/imgs/6.jpg
  front/public/imgs/7.jpg
  front/public/imgs/8.jpg
  front/public/imgs/9.jpg
  front/src/App.js
  front/src/App.jsx
  front/src/index.js
Labels: front-end

#59 タイムゾーン変更＋一部修正
  .env.development
  app/cruds/users.py
  app/models/users.py
  app/routers/users.py
  app/schemas/users.py
  db/migrations/README
  db/migrations/__pycache__/env.cpython-310.pyc
  db/migrations/env.py
  db/migrations/script.py.mako
  db/migrations/versions/7a4f5491d26b_.py
  db/migrations/versions/__pycache__/07ff0132fe12_.cpython-310.pyc
  db/migrations/versions/__pycache__/25bf6cc92af9_.cpython-310.pyc
  db/migrations/versions/__pycache__/3f458c64d4ab_.cpython-310.pyc
  db/migrations/versions/__pycache__/40d98565a64c_.cpython-310.pyc
  db/migrations/versions/__pycache__/71ceadb23774_.cpython-310.pyc
  db/migrations/versions/__pycache__/7a4f5491d26b_.cpython-310.pyc
  db/migrations/versions/__pycache__/856109e5c10e_.cpython-310.pyc
  db/migrations/versions/__pycache__/9b5eb789a304_.cpython-310.pyc
  db/migrations/versions/__pycache__/acc02ef0b59a_.cpython-310.pyc
  db/migrations/versions/__pycache__/b034e53ce385_.cpython-310.pyc
  db/migrations/versions/__pycache__/b04942986dc2_.cpython-310.pyc
  db/migrations/versions/__pycache__/c79a1119b14e_.cpython-310.pyc
  db/migrations/versions/__pycache__/d9489014ad16_.cpython-310.pyc
  db/migrations/versions/__pycache__/f219cc254ef8_.cpython-310.pyc
  db/migrations/versions/f219cc254ef8_.py
  docker-compose.yml
Labels: back-end

#54 yarnからnpmへ変更
  docker/front/Dockerfile
Labels: docker

#61 Feature#52　App.jsxの内容をkaruta.jsに移動
  .gitignore
  docker-compose 2.yml
  front/src/compornents/useInterval.jsx
  front/src/pages/karuta.js
  run.sh
Labels: front-end

#69 マイグレーションエラー解消＋トークン有効期限切れのエラーハンドリング
  .gitignore
  app/cruds/games.py
  app/cruds/users.py
  app/models/games.py
  app/routers/games.py
  db/alembic.ini
  db/migration/README
  db/migration/env.py
  db/migration/script.py.mako
  db/migration/versions/506a0ca9fc1f_.py
  db/migration/versions/818d3578277c_.py
  db/migration/versions/a650c944b5aa_.py
  db/migrations/__pycache__/env.cpython-310.pyc
  db/migrations/versions/__pycache__/07ff0132fe12_.cpython-310.pyc
  db/migrations/versions/__pycache__/25bf6cc92af9_.cpython-310.pyc
  db/migrations/versions/__pycache__/3f458c64d4ab_.cpython-310.pyc
  db/migrations/versions/__pycache__/40d98565a64c_.cpython-310.pyc
  db/migrations/versions/__pycache__/71ceadb23774_.cpython-310.pyc
  db/migrations/versions/__pycache__/7a4f5491d26b_.cpython-310.pyc
  db/migrations/versions/__pycache__/856109e5c10e_.cpython-310.pyc
  db/migrations/versions/__pycache__/9b5eb789a304_.cpython-310.pyc
  db/migrations/versions/__pycache__/acc02ef0b59a_.cpython-310.pyc
  db/migrations/versions/__pycache__/b034e53ce385_.cpython-310.pyc
  db/migrations/versions/__pycache__/b04942986dc2_.cpython-310.pyc
  db/migrations/versions/__pycache__/c79a1119b14e_.cpython-310.pyc
  db/migrations/versions/__pycache__/d9489014ad16_.cpython-310.pyc
  db/migrations/versions/__pycache__/f219cc254ef8_.cpython-310.pyc
  db/migrations/versions/f219cc254ef8_.py
Labels: back-end

#74 苦手札取得API、ログイン設定、コード整理
  .gitignore
  app/cruds/games.py
  app/cruds/users.py
  app/models/games.py
  app/models/users.py
  app/routers/games.py
  app/routers/users.py
  app/schemas/games.py
  app/schemas/users.py
  db/migration/versions/41ded4d2b969_.py
  db/migration/versions/818d3578277c_.py
  db/migration/versions/a650c944b5aa_.py
  db/migration/versions/f85acc9d4850_.py
  front/package.json
  front/src/hooks/useAuth.js
  front/src/pages/login.js
Labels: front-end, back-end

#81 Feature#76
  docker/front/Dockerfile
  front/package-lock.json
  front/src/compornents/Modal.jsx
  front/src/pages/karuta.js
  front/tailwind.config.js
Labels: front-end

#86 Feature#80 ユーザー認証をフロント側で確認（APIもコード変更）
  app/cruds/users.py
  app/main.py
  app/routers/users.py
  front/package.json
  front/src/compornents/ProtectedRoute.js
  front/src/context/AuthContext.js
  front/src/hooks/useAuth.js
  front/src/index.js
  front/src/pages/home.js
  front/src/pages/login.js
  front/src/pages/signup.js
  front/src/routes/root.js
Labels: front-end, back-end

#90 Feature#87　リフレッシュトークンの保存方法変更
  app/cruds/users.py
  app/models/users.py
  app/routers/users.py
  app/schemas/users.py
  app/session/session_token.py
  db/migration/versions/2425fb2e1891_.py
  db/migration/versions/514e1724c1fd_.py
  db/migration/versions/f85acc9d4850_.py
  docker/api/requirements.txt
Labels: back-end
