Repository HackathonWinterAteam/LearningKaruta, pull requests merged in 2023-01, with the labels that each got.

#4 Create new dockerfiles For app development
  app/Dockerfile
  app/requirements.txt
  app/src/app.py
  docker-compose.yml
  run.sh
Labels: docker

#6 Create new dockerfiles For DB development
  README.MD
  docker-compose.yml
  mysql/DB/init.sql
  mysql/Dockerfile
  mysql/conf.d/my.cnf
Labels: docker

#8 poetry追加, requirements.txt削除
  app/Dockerfile
  app/poetry.lock
  app/pyproject.toml
  app/requirements.txt
  docker-compose.yml
Labels: docker

#13 reactの環境構築
  front/.gitignore
  front/README.md
  front/package-lock.json
  front/package.json
  front/public/favicon.ico
  front/public/index.html
  front/public/logo192.png
  front/public/logo512.png
  front/public/manifest.json
  front/public/robots.txt
  front/src/App.css
  front/src/App.js
  front/src/App.test.js
  front/src/index.css
  front/src/index.js
  front/src/logo.svg
  front/src/reportWebVitals.js
  front/src/setupTests.js
Labels: front-end

#14 React用のdocker環境構築
  docker-compose.yml
  front/Dockerfile
Labels: docker

#18 Feature#10
  app/src/app.py
  app/src/models/__init__.py
  app/src/models/games.py
  app/src/models/users.py
  app/src/routers/__init__.py
  app/src/routers/games.py
  app/src/routers/users.py
  app/src/schemas/__init__.py
  app/src/schemas/games.py
  app/src/schemas/users.py
Labels: back-end
